@(twits: List[Twit], twitForm: Form[Twit])

@import helper._

@main("Twit list") {

    <h1>つぶやき！</h1>

    @helper.form(routes.Application.newTwit()) {

        @helper.textarea(
            field = twitForm("label"),
            args = 'rows -> 5,
                '_label -> "Your Tweet",
                '_help -> ""
        )

        <input type="submit" value="送信"
               style="background-color:#ffff99"
               onmouseover="this.style.background='#ffff99'"
               onmouseout="this.style.background='#66aa66'">
    }

    <h2>@twits.size() twit(s)</h2>
    <table>
        @for(twit <- twits) {
        <tr>
            <td>@twit.label</td>
            <td>@helper.form(routes.Application.deleteTwit(twit.id)) {
                    <input type="submit" value="Delete">
            }</td>

        </tr>
        }
    </table>

}
