@(twits: List[Twit], twitForm: Form[Twit])

@import helper._

@main("Twit list") {

    <h1>@twits.size() twit(s)</h1>

    <ul>
        @for(twit <- twits) {
        <li>
            @twit.label

            @form(routes.Application.deleteTwit(twit.id)) {
            <input type="submit" value="Delete">
            }
        </li>
        }
    </ul>

    <h2>レッツつぶやき！</h2>>

    @form(routes.Application.newTwit()) {

        @inputText(twitForm("label"))

        <input type="submit" value="送信"
               style="background-color:#ffff99"
               onmouseover="this.style.background='#99ccff'"
               onmouseout="this.style.background='#ffff99'">
    }

}
